<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">游戏管理</li>
          <li><a href="/gamesetting">新建游戏</a></li>
          <li class="active"><a href="/gamelist">游戏列表</a></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="span10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div id="legend">
            <legend class="">游戏列表</legend>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
               <tr>
                  <th>游戏名</th>
                  <th>开始时间</th>
                  <th>持续时间(秒)</th>
               </tr>
            </thead>
            <tbody>
              <% games.forEach(function(game) { %>
                <tr>
                  <td><%= game.name %></td>
                  <td><%= game.startTimeFormat %></td>
                  <td><%= game.duration %></td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
